---
import { Image } from "@astrojs/image/components";
const { title, year, img, slug } = Astro.props.film;
const index = Astro.props.index;
---

<a href={`/films/${slug}`}>
  <Image
    src={`/images/previews/${slug}.jpg`}
    alt={`Still from ${title} by Greenfingers Films`}
    format="webp"
    width={475}
    height={542}
  />
  <div class="details">
    <p class="index">0{index + 1}</p>
    <div class="info">
      <h3>{title}</h3>
      <p>{year}</p>
    </div>
  </div>
</a>

<style>
  img {
    max-width: 100%;
    height: auto;
  }

  .details {
    display: flex;
    align-items: center;
    transform: translateX(1rem) translateY(-2rem);
  }

  .index {
    font-size: 3rem;
    font-weight: 900;
    -webkit-text-stroke: 1px var(--mint);
    color: transparent;
    letter-spacing: var(--tracking-tight);
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 0.2rem;
  }

  .info h3 {
    font-size: 1.4rem;
  }

  .info p {
    font-size: 0.8rem;
    padding-right: 15%;
  }
</style>
