---
import { Image } from "@astrojs/image/components";
const { title, year, img, slug, video } = Astro.props.film;
const index = Astro.props.index;
---

<div class="film-preview-container">
  <a href={`/films/${slug}`}>
    <div class="image-wrapper">
      <!-- <Image
        src={`/images/previews/${slug}.jpg`}
        alt={`Still from ${title} by Greenfingers Films`}
        format="webp"
        width={475}
        height={542}
        class="film-preview"
      /> -->
      <div class="video-wrapper">
        <video playsinline autoplay muted loop style="max-width: 100%;">
          <source
            src={`/videos/${video}`}
            src="/videos/antichew_preview.mov"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
    <div class="details">
      <p class="index">0{index + 1}</p>
      <p class="title">{title}</p>
    </div>
  </a>
</div>

<style>
  .image-wrapper {
    position: relative;
  }

  .video-wrapper {
    max-width: 100%;
    filter: brightness(0.8);
  }

  video {
    border-radius: 6px;
  }

  img {
    max-width: 100%;
    aspect-ratio: 16/9;
  }

  .details {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    margin-top: 0.4rem;
  }

  .index {
    background: var(--black);
    padding: 0.1rem 0.8rem;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.1rem;
  }

  .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 0.8;
    font-weight: 500;
    opacity: 0.9;
  }

  @media (min-width: 640px) {
    .title {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
  @media (min-width: 1280px) {
    .title {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
</style>

<script></script>
