---
import { Image } from "@astrojs/image/components";
const { title, year, img, slug, video, preview } = Astro.props.film;
const index = Astro.props.index;
---

<div class="film-preview-container">
  <a href={`/films/${slug}`}>
    <div class="media-wrapper">
      {
        preview ? (
          <div class="preview-wrapper">
            <Image
              src={img}
              alt={`Coming soon ${title}`}
              width={1920}
              height={1080}
            />
            <h2>Coming soon</h2>
          </div>
        ) : (
          <div class="video-wrapper">
            <video playsinline autoplay muted loop style="max-width: 100%;">
              <source src={`/videos/${video}`} type="video/mp4" />
            </video>
          </div>
        )
      }
    </div>
    <div class="details">
      <p class="index">0{index + 1}</p>
      <p class="title">{title}</p>
    </div>
  </a>
</div>

<style>
  .film-preview-container {
    width: 100%;
  }

  .media-wrapper {
    position: relative;
  }

  .preview-wrapper img {
    filter: brightness(0.5);
  }

  .preview-wrapper {
    position: relative;
  }

  .preview-wrapper h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--humane);
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 0;
  }

  .video-wrapper {
    max-width: 100%;
    filter: brightness(0.8);
  }

  .preview-wrapper img {
    max-width: 640px;
  }

  video,
  img {
    border-radius: 6px;
  }

  /* img {
    max-width: 100%;
    aspect-ratio: 16/9;
  } */

  .details {
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    margin-top: 0.4rem;
  }

  .index {
    background: var(--black);
    padding: 0.1rem 0.8rem;
    border-radius: 0.1rem;
    font-size: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.1rem;
  }

  .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 0.8;
    font-weight: 500;
    opacity: 0.9;
  }

  @media (min-width: 640px) {
    .title {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  @media (min-width: 1024px) {
    video,
    img {
      width: 45vw;
    }
    .film-preview-container {
      width: fit-content;
    }
  }

  @media (min-width: 1280px) {
    video,
    img {
      width: unset;
    }
    .title {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
</style>

<script></script>
